<a href="https://colab.research.google.com/github/Shaila-B/Python-Concepts-Programs/blob/main/zip()_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **zip() Function**

---

**zip()** function. It is used when there are two or more iterables and they need to be aggregated into one iterable.

For references see the example below:

In [ ]:
list1 = [1, 2, 3, 4]

In [ ]:
list2 = [5, 6, 7, 8]

In [ ]:
result = list(zip(list1, list2))

In [ ]:
print(result)

[(1, 4), (2, 5), (3, 6)]

When two lists have equal number of elements, 3rd list with elements from both lists can be created using zip().

In [ ]:
list1 = [1, 2, 3]

In [ ]:
list2 = [4, 5, 6]

Here the list1 and list2 have equal number of elements. The result list  contains the list1 and list2 elements.

In [ ]:
result = list(zip(list1, list2))

In [ ]:
print(result)

[(1, 4), (2, 5), (3, 6)]

When two lists have equal number of elements, we can create dict with the these elements, first lists elements will be considered as keys and second lists elements will be considered as values.

For example :

In [ ]:
list1 = [1, 2, 3]

In [ ]:
list2 = [4, 5, 6]

In [ ]:
result = dict(zip(list1, list2))

In [ ]:
print(result)

{1: 4, 2: 5, 3: 6}

## **Let's see some more example below**

**Creating list using columns and values or data.**

In [ ]:
columns = ['employee_id', 'employee_name', 'employee_salary']

In [ ]:
values = [1, 'John', '50000']

In [ ]:
employee_details = list(zip(columns, values))

In [ ]:
print(employee_details)

[('employee_id', 1), ('employee_name', 'John'), ('employee_salary', '50000')]

**Creating dict using column and values**

In [ ]:
columns = ['employee_id', 'employee_name', 'employee_salary']

In [ ]:
values = [1, 'Smith', 80000]

In [ ]:
employee_details = dict(zip(columns, values))

In [ ]:
print(employee_details)

{'employee_id': 1, 'employee_name': 'Smith', 'employee_salary': 80000}

**We can apply zip() on tuples**

In [ ]:
columns = ('employee_id', 'employee_name', 'employee_salary')

In [ ]:
values = (1, 'Eshani', 50000)

In [ ]:
employee_details = dict(zip(columns, values))

In [ ]:
print(employee_details)

{'employee_id': 1, 'employee_name': 'Eshani', 'employee_salary': 50000}

**zip() function for multiple data**

In [ ]:
columns = ('employee_id', 'employee_name', 'employee_salary')

In [ ]:
values = (
    (1, 'John', 50000),
    (2, 'Smith', 80000),
    (3, 'Ruhi', 60000),
    (4, 'Arnav', 50000),
)

**In the above we have multiple employee data so here we are going to use list comprehnsion**

We need to apply zip on each record to create list of dicts.
Example using list comprehensions. We are applying zip and then dict on each employee.

In [ ]:
employee_details = [list(zip(columns, employee)) for employee in values]

In [ ]:
print(employee_details)

[[('employee_id', 1), ('employee_name', 'John'), ('employee_salary', 50000)], [('employee_id', 2), ('employee_name', 'Smith'), ('employee_salary', 80000)], [('employee_id', 3), ('employee_name', 'Ruhi'), ('employee_salary', 60000)], [('employee_id', 4), ('employee_name', 'Arnav'), ('employee_salary', 50000)]]

**Dictionery Comprehnsion**

In [ ]:
columns = ('employee_id', 'employee_name', 'employee_salary')

In [ ]:
values = [
          (1, 'Teena', 80000),
          (2, 'Mouna', 60000),
          (3, 'Janvi', 40000),
]

In [ ]:
employees_details = [dict(zip(columns, employee)) for employee in values]

In [ ]:
print(employees_details)

[{'employee_id': 1, 'employee_name': 'Teena', 'employee_salary': 80000}, {'employee_id': 2, 'employee_name': 'Mouna', 'employee_salary': 60000}, {'employee_id': 3, 'employee_name': 'Janvi', 'employee_salary': 40000}]

Using map as we are trying to apply row level transformation to convert each employee into dict with columns as keys.

In [ ]:
columns = ('employee_id', 'employee_name', 'employee_salary')

In [ ]:
values = [
          (1, 'John', 50000),
          (2, 'Smith', 80000),
          (3, 'Sanvi', 60000)
]

In [ ]:
employee_details = list(map(lambda employee: dict(zip(columns, employee)), values))

In [ ]:
print(employee_details)

[{'employee_id': 1, 'employee_name': 'John', 'employee_salary': 50000}, {'employee_id': 2, 'employee_name': 'Smith', 'employee_salary': 80000}, {'employee_id': 3, 'employee_name': 'Sanvi', 'employee_salary': 60000}]

Printing data type of first element employees_list

In [ ]:
print(employee_details[0])

{'employee_id': 1, 'employee_name': 'John', 'employee_salary': 50000}

Printing size of employees_list

In [ ]:
print(len(employee_details))

3